In [3]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [4]:
ser = Series(['one','two',np.nan,'four'])

In [5]:
ser

0     one
1     two
2     NaN
3    four
dtype: object

In [6]:
ser.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
ser.dropna()

0     one
1     two
3    four
dtype: object

In [11]:
dframe = DataFrame([[1,2,3],[1,np.nan,4],[7,np.nan,8],[np.nan,np.nan,np.nan]])

In [12]:
dframe

    0   1   2
0   1   2   3
1   1 NaN   4
2   7 NaN   8
3 NaN NaN NaN

In [13]:
clean_dframe = dframe.dropna()
clean_dframe

   0  1  2
0  1  2  3

In [14]:
dframe.dropna(how='all')

   0   1  2
0  1   2  3
1  1 NaN  4
2  7 NaN  8

In [16]:
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [18]:
npn=np.nan

dframe2 = DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,npn,9],[1,npn,npn,npn]])
dframe2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9
3   1 NaN NaN NaN

In [22]:
dframe2.dropna(thresh=2) # provides threshhold of how many data should be present

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9

In [23]:
dframe2.fillna(1)

   0  1  2  3
0  1  2  3  1
1  2  1  5  6
2  1  7  1  9
3  1  1  1  1

In [29]:
dframe2.fillna({0:0,1:1,2:2,3:3}) # pass the dictionary for each coliumn

   0  1  2  3
0  1  2  3  3
1  2  1  5  6
2  0  7  2  9
3  1  1  2  3

In [30]:
dframe2.fillna(0,inplace=True)

In [31]:
dframe2

   0  1  2  3
0  1  2  3  0
1  2  0  5  6
2  0  7  0  9
3  1  0  0  0