In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [6]:
ser1 = Series([1,2,3,4,1,2,3,4])
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [8]:
ser1.replace(1,np.nan)

0   NaN
1     2
2     3
3     4
4   NaN
5     2
6     3
7     4
dtype: float64

In [9]:
ser1.replace([1,2],[100,200])

0    100
1    200
2      3
3      4
4    100
5    200
6      3
7      4
dtype: int64

In [13]:
#also use a dictionat

ser1.replace({1:100,2:200})

0    100
1    200
2      3
3      4
4    100
5    200
6      3
7      4
dtype: int64