In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [5]:
dframe =  DataFrame({'k1':['X','X','Y','Y','Z'],
                     'k2':['al','beta','al','beta','al'],
                     'dataset1' :  np.random.randn(5),
                     'dataset2': np.random.randn(5)
                    } )
dframe

   dataset1  dataset2 k1    k2
0 -1.259210 -0.954123  X    al
1 -0.085927 -1.306189  X  beta
2  0.362383  0.249816  Y    al
3  0.602948  1.214494  Y  beta
4  0.783283  1.434576  Z    al

In [6]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [7]:
group1.mean()

k1
X   -0.672569
Y    0.482665
Z    0.783283
Name: dataset1, dtype: float64

In [9]:
cities =  np.array(['NY','LA','LA','NY','NY'])
month = np.array(['Jan','Feb','Jan','Feb','Jan'])

group1 = dframe['dataset1'].groupby([cities,month]).mean()
group1

LA  Feb   -0.085927
    Jan    0.362383
NY  Feb    0.602948
    Jan   -0.237964
Name: dataset1, dtype: float64

In [10]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.672569 -1.130156
Y   0.482665  0.732155
Z   0.783283  1.434576

In [11]:
dframe.groupby(['k1','k2']).mean()

         dataset1  dataset2
k1 k2
X  al   -1.259210 -0.954123
   beta -0.085927 -1.306189
Y  al    0.362383  0.249816
   beta  0.602948  1.214494
Z  al    0.783283  1.434576

In [12]:
dframe.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [15]:
#Very important iterrate over group

for name,group in dframe.groupby('k1'):
    print  "Group:%s",group
    print  "name:%s",name
    print '\n'

Group:%s    dataset1  dataset2 k1    k2
0 -1.259210 -0.954123  X    al
1 -0.085927 -1.306189  X  beta
name:%s X


Group:%s    dataset1  dataset2 k1    k2
2  0.362383  0.249816  Y    al
3  0.602948  1.214494  Y  beta
name:%s Y


Group:%s    dataset1  dataset2 k1  k2
4  0.783283  1.434576  Z  al
name:%s Z

In [23]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print  "Group:%s",group
    print  "key1:%s",k1
    print  "key2:%s",k2
    print '\n'

ValueError: too many values to unpack

In [26]:
group_dict = dict(list(dframe.groupby('k1')))
group_dict['X']

   dataset1  dataset2 k1    k2
0 -1.259210 -0.954123  X    al
1 -0.085927 -1.306189  X  beta

In [27]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.259210 -0.954123
 1 -0.085927 -1.306189
 2  0.362383  0.249816
 3  0.602948  1.214494
 4  0.783283  1.434576, dtype('O'):   k1    k2
 0  X    al
 1  X  beta
 2  Y    al
 3  Y  beta
 4  Z    al}

In [29]:
dataset_group2 = dframe.groupby(['k1','k2'])[['dataset2']]
dataset_group2.mean()

         dataset2
k1 k2
X  al   -0.954123
   beta -1.306189
Y  al    0.249816
   beta  1.214494
Z  al    1.434576