In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from np.random import randn

ImportError: No module named np.random

In [4]:
ser = Series(np.arange(3),index=['A','B','C'])
ser

A    0
B    1
C    2
dtype: int64

In [5]:
ser.drop('B')

A    0
C    2
dtype: int64

In [7]:
dframe1 = DataFrame(np.arange(9).reshape(3,3),index=[1,2,3],columns=['A','B','C'])

In [8]:
dframe1

   A  B  C
1  0  1  2
2  3  4  5
3  6  7  8

In [10]:
dframe2=dframe1.drop(2)
dframe2

   A  B  C
1  0  1  2
3  6  7  8

In [12]:
dframe3=dframe1.drop('A',1)
dframe3

   B  C
1  1  2
2  4  5
3  7  8