In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
#What am I seeking

In [10]:
dframe = DataFrame([[1,'B',3],[2,'B',4],[1,'G',9],
                    [4,'B',3],[8,'G',3],[3,'G',4]],columns=['Day','Gender','Qty'])

In [11]:
dframe

   Day Gender  Qty
0    1      B    3
1    2      B    4
2    1      G    9
3    4      B    3
4    8      G    3
5    3      G    4

In [12]:
dframe_piv= dframe.pivot('Day','Gender','Qty')
dframe_piv

Gender   B   G
Day
1        3   9
2        4 NaN
3      NaN   4
4        3 NaN
8      NaN   3