In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [15]:
dframe = pd.read_csv('temp_file.csv',header=None)

In [10]:
dframe

   0  1   2        3
0  1  2   3    apple
1  3  4   5   banana
2  6  4  54  oranges

In [11]:
dframe = pd.read_table('temp_file.csv',sep=',',header=None)

In [12]:
dframe

   0  1   2        3
0  1  2   3    apple
1  3  4   5   banana
2  6  4  54  oranges

In [16]:
pd.read_csv('temp_file.csv',header=None,nrows=2)

   0  1  2       3
0  1  2  3   apple
1  3  4  5  banana

In [18]:
dframe.to_csv('temp_file_out.csv')

In [20]:
import sys

In [24]:
#dframe.to_csv(sys.stdout)
#dframe.to_csv(sys.stdout,sep='_')
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3
0?1?2?3?apple
1?3?4?5?banana
2?6?4?54?oranges

In [25]:
#subset of file
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,1,2,3
1,3,4,5
2,6,4,54

In [ ]:
#Reading JSON