In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy.random import randn

In [9]:
ser1 = Series([1,12,np.nan,4,6,np.nan],index = ['Q','R','S','T','U','V'])
ser2 = Series(np.arange(len(ser1)),dtype=float,index = ['Q','R','S','T','U','V'])

In [10]:
ser1

Q     1
R    12
S   NaN
T     4
U     6
V   NaN
dtype: float64

In [11]:
ser2

Q    0
R    1
S    2
T    3
U    4
V    5
dtype: float64

In [12]:
Series(np.where(pd.isnull(ser1),ser2,ser1))

0     1
1    12
2     2
3     4
4     6
5     5
dtype: float64

In [14]:
#exact same thing as above
ser1.combine_first(ser2)

Q     1
R    12
S     2
T     4
U     6
V     5
dtype: float64

In [15]:
nan=np.nan
dframe_odds = DataFrame({'X':[1,nan,3,nan],
                         'Y':[5,nan,7,nan],
                         'Z':[9,nan,11,nan]
                        })

dframe_even = DataFrame({'X':[nan,2,nan,4],
                         'Y':[nan,6.,nan,8],
                         'Z':[nan,10,nan,12]
                        })

In [16]:
dframe_even

    X   Y   Z
0 NaN NaN NaN
1   2   6  10
2 NaN NaN NaN
3   4   8  12

In [17]:
dframe_odds

    X   Y   Z
0   1   5   9
1 NaN NaN NaN
2   3   7  11
3 NaN NaN NaN

In [18]:
dframe_even.combine_first(dframe_odds)

   X  Y   Z
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12