In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [3]:
dframe = DataFrame(np.arange(12).reshape(3,4), index = ['NY','SF','DC'],columns=['A','B','C','D'])
dframe

    A  B   C   D
NY  0  1   2   3
SF  4  5   6   7
DC  8  9  10  11

In [6]:
dframe.index=dframe.index.map(str.lower)
dframe

    A  B   C   D
ny  0  1   2   3
sf  4  5   6   7
dc  8  9  10  11

In [7]:
dframe.rename(index=str.title,columns=str.lower)

    a  b   c   d
Ny  0  1   2   3
Sf  4  5   6   7
Dc  8  9  10  11

In [11]:
dframe.rename(index={'ny':'NewYork'},columns={'A':'alpha'})

         alpha  B   C   D
NewYork      0  1   2   3
sf           4  5   6   7
dc           8  9  10  11

In [14]:
#permanent
dframe.rename(index={'ny':'NewYork'},columns={'A':'alpha'},inplace=True)
dframe

         alpha  B   C   D
NewYork      0  1   2   3
sf           4  5   6   7
dc           8  9  10  11