In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [5]:
nfl_frame = pd.read_clipboard()

In [6]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [7]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [12]:
nfl_frame.Rank # can not do it with name with space like
#nfl_frame.First NFL Season
nfl_frame['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [14]:
#Retrieve columns
DataFrame(nfl_frame,columns=['Team','First NFL Season','Won','Stadium'])

                   Team  First NFL Season  Won  Yuvraj
0         Chicago Bears              1920  741     NaN
1        Dallas Cowboys              1960  480     NaN
2     Green Bay Packers              1921  720     NaN
3        Miami Dolphins              1966  429     NaN
4  New England Patriots              1960  462     NaN

In [20]:
#Retrieve Rows
nfl_frame.head(2)
nfl_frame.tail(1)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [21]:
nfl_frame.ix[3] #grab fourth row

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [24]:
nfl_frame['Stadium']="Levi's Stadium"
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium

In [26]:
nfl_frame['Stadium'] = np.arange(5)

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4

In [29]:
#Add series to dataframe
stadiums = Series(['Levis','ATNT',],index=[4,0])
stadiums

4    Levis
0     ATNT
dtype: object

In [30]:
nfl_frame['Stadium']=stadiums

In [31]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,ATNT
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levis

In [35]:
#delete coulmns
#del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [36]:
data ={'City':['Sf','LA','NYC'],'population':['837000','388000','84000000']}

In [39]:
city_frame=DataFrame(data)
city_frame

  City population
0   Sf     837000
1   LA     388000
2  NYC   84000000

In [40]:
#http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html