In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy.random import randn

In [12]:
ser1 = Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int64

In [13]:
ser1 = ser1*2
ser1

A    0
B    2
C    4
dtype: int64

In [14]:
#All the same
#ser1['A']
#ser1[0]
#ser1[0:3]
#ser1[['A','B']]

In [17]:
#by Logic
ser1[ser1>3] =10
ser1

A     0
B     2
C    10
dtype: int64

In [18]:
#Same with dataframe
dframe = DataFrame(np.arange(25).reshape(5,5),index=['SF','NY','DC','CHI','RAL'],columns=['A','B','C','D','E'])
dframe

      A   B   C   D   E
SF    0   1   2   3   4
NY    5   6   7   8   9
DC   10  11  12  13  14
CHI  15  16  17  18  19
RAL  20  21  22  23  24

In [21]:
dframe[['B','C']]

      B   C
SF    1   2
NY    6   7
DC   11  12
CHI  16  17
RAL  21  22

In [22]:
dframe[dframe['C']>8]

      A   B   C   D   E
DC   10  11  12  13  14
CHI  15  16  17  18  19
RAL  20  21  22  23  24

In [24]:
dframe>3

         A      B      C      D     E
SF   False  False  False  False  True
NY    True   True   True   True  True
DC    True   True   True   True  True
CHI   True   True   True   True  True
RAL   True   True   True   True  True

In [25]:
dframe.ix['DC']

A    10
B    11
C    12
D    13
E    14
Name: DC, dtype: int64

In [26]:
dframe.ix[1]

A    5
B    6
C    7
D    8
E    9
Name: NY, dtype: int64