In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
dframe = DataFrame({'city':['Alma','BH','FP'],
                   'altitude':[3100,3200,3300]})
dframe

   altitude  city
0      3100  Alma
1      3200    BH
2      3300    FP

In [3]:
state_map= {'Alma':'Colorado','BH':'Utah','FP':'Wyoming'}
state_map

{'Alma': 'Colorado', 'BH': 'Utah', 'FP': 'Wyoming'}

In [5]:
dframe['state']=dframe['city'].map(state_map)
dframe

   altitude  city     state
0      3100  Alma  Colorado
1      3200    BH      Utah
2      3300    FP   Wyoming