In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
srr = Series(randn(6),index=[[1,1,1,2,2,3],['a','b','c','a','b','c']])

In [4]:
srr

1  a   -0.820340
   b   -0.974218
   c   -0.310463
2  a   -1.377017
   b   -0.474938
3  c    1.646265
dtype: float64

In [5]:
srr.index

MultiIndex(levels=[[1, 2, 3], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 2], [0, 1, 2, 0, 1, 2]])

In [6]:
srr[1]

a   -0.820340
b   -0.974218
c   -0.310463
dtype: float64

In [7]:
srr[:,'a']

1   -0.820340
2   -1.377017
dtype: float64

In [8]:
dframe =  srr.unstack()

In [10]:
dframe

          a         b         c
1 -0.820340 -0.974218 -0.310463
2 -1.377017 -0.474938       NaN
3       NaN       NaN  1.646265

In [14]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), index = [['a','a','b','b'],[1,2,1,2]], 
                    columns=[['NY','NY','LA','SF'],['cold','hot','cold','hot']])

In [15]:
dframe2

      NY       LA  SF
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [24]:
dframe2.index.names = ['INDEX1','INDEX2']
dframe2.columns.names = ['CITIES','TEMP']
dframe2

CITIES          NY       LA  SF
TEMP          cold hot cold hot
INDEX1 INDEX2
a      1         0   1    2   3
       2         4   5    6   7
b      1         8   9   10  11
       2        12  13   14  15

In [26]:
 dframe2.swaplevel('CITIES','TEMP',1) #swap level

TEMP          cold hot cold hot
CITIES          NY  NY   LA  SF
INDEX1 INDEX2
a      1         0   1    2   3
       2         4   5    6   7
b      1         8   9   10  11
       2        12  13   14  15

In [28]:
dframe2.sortlevel(0)

CITIES          NY       LA  SF
TEMP          cold hot cold hot
INDEX1 INDEX2
a      1         0   1    2   3
       2         4   5    6   7
b      1         8   9   10  11
       2        12  13   14  15

In [30]:
dframe2.sum(level='TEMP',axis=1)

TEMP           cold  hot
INDEX1 INDEX2
a      1          2    4
       2         10   12
b      1         18   20
       2         26   28