In [1]:
import numpy as np
import pandas as pf
from pandas import DataFrame,Series

In [2]:
arr =np.array([[1,2,np.nan],[np.nan,3,4]])

In [5]:
dframe = DataFrame(arr,index=list('AB'),columns=[1,2,3])

In [9]:
dframe

    1  2   3
A   1  2 NaN
B NaN  3   4

In [11]:
dframe.sum()#sum of each column
dframe.sum(axis=1)

A    3
B    7
dtype: float64

In [15]:
dframe.min()
dframe.idxmin() #minimum value in each colum
#same for max

1    A
2    A
3    B
dtype: object

In [16]:
dframe.cumsum() #B has cumulative sum

    1  2   3
A   1  2 NaN
B NaN  5   4

In [18]:
dframe.describe()

        1         2   3
count   1  2.000000   1
mean    1  2.500000   4
std   NaN  0.707107 NaN
min     1  2.000000   4
25%     1  2.250000   4
50%     1  2.500000   4
75%     1  2.750000   4
max     1  3.000000   4

In [21]:
from IPython.display import YouTubeVideo

In [23]:
YouTubeVideo("xGbpuFNR1ME")

In [24]:
YouTubeVideo("4EXNedimDMs")

In [30]:
import pandas.io.data as pdweb
import datetime

In [36]:
#prices = pdweb.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),end=datetime.datetime(2013,1,1))['Adj Close']

In [ ]:
#prices.head()
#rets = prices.pct_change()
#corrrets.corr
import seaborn as sns
#sns.corrplot

In [38]:
ser1 = Series(list('kjlkjhadsflkjshDWQJHHDFASLKH'))

In [42]:
ser1.unique()

array(['k', 'j', 'l', 'h', 'a', 'd', 's', 'f', 'D', 'W', 'Q', 'J', 'H',
       'F', 'A', 'S', 'L', 'K'], dtype=object)

In [43]:
ser1.value_counts()

H    3
k    3
j    3
l    2
D    2
h    2
s    2
d    1
f    1
S    1
J    1
L    1
Q    1
K    1
W    1
F    1
A    1
a    1
dtype: int64