In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [4]:
animals = DataFrame(np.arange(16).reshape(4,4),columns=['W','X','Y','Z'],index=['Cat','Bird','Dog','Mouse'])
animals

        W   X   Y   Z
Cat     0   1   2   3
Bird    4   5   6   7
Dog     8   9  10  11
Mouse  12  13  14  15

In [6]:
animals.ix[1:2,['W','Y']]=np.nan
animals

        W   X   Y   Z
Cat     0   1   2   3
Bird  NaN   5 NaN   7
Dog     8   9  10  11
Mouse  12  13  14  15

In [7]:
behavior_map = {'W':'Good','X':'Bad','Y':'Good','Z':'Bad'}

In [10]:
animals_col = animals.groupby(behavior_map,axis=1)
animals_col.sum()

       Bad  Good
Cat      4     2
Bird    12   NaN
Dog     20    18
Mouse   28    26

In [12]:
behavior_series = Series(behavior_map)
behavior_series

W    Good
X     Bad
Y    Good
Z     Bad
dtype: object

In [14]:
animals.groupby(behavior_series,axis=1).count()

       Bad  Good
Cat      2     2
Bird     2     0
Dog      2     2
Mouse    2     2

In [17]:
animals.groupby(len).sum()

    W   X   Y   Z
3   8  10  12  14
4 NaN   5 NaN   7
5  12  13  14  15

In [19]:
keys= list('AABB')
animals.groupby([len,keys]).max()

      W   X   Y   Z
3 A   0   1   2   3
  B   8   9  10  11
4 A NaN   5 NaN   7
5 B  12  13  14  15

In [20]:
hir_col =  pd.MultiIndex.from_arrays([['NY','NY','NY','SF','SF'],[1,2,3,1,2]],names=['CITIES','VALUES'])

In [21]:
dframe_hr = DataFrame(np.arange(25).reshape(5,5),columns=hir_col)

In [22]:
dframe_hr= dframe_hr * 100

In [23]:
dframe_hr

CITIES    NY                SF
VALUES     1     2     3     1     2
0          0   100   200   300   400
1        500   600   700   800   900
2       1000  1100  1200  1300  1400
3       1500  1600  1700  1800  1900
4       2000  2100  2200  2300  2400