In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
my_index=my_ser.index

In [6]:
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [8]:
my_index[0]='Z' #Error is important

TypeError: Index does not support mutable operations

In [9]:
#reindex
from numpy.random import randn

In [12]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [16]:
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [17]:
ser2.reindex(['A','B','C','D','E','F','G','H'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
H     0
dtype: float64

In [20]:
ser3 = Series(['USA','MEXICO','CANADA'],index=[0,5,10])
ser3

0        USA
5     MEXICO
10    CANADA
dtype: object

In [21]:
ranger=range(15)
ser3.reindex(ranger,method='ffill') #take the previous value and forward fill the values check different methods

0        USA
1        USA
2        USA
3        USA
4        USA
5     MEXICO
6     MEXICO
7     MEXICO
8     MEXICO
9     MEXICO
10    CANADA
11    CANADA
12    CANADA
13    CANADA
14    CANADA
dtype: object

In [30]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.518008  1.122604 -1.698521 -0.030341  0.423052
B  0.295989 -1.471437 -0.869694 -0.095685  0.872135
D -1.555891 -0.239837 -0.947626  0.909339  0.517088
E -0.579964  1.023200 -2.111389  2.104038  0.220860
F -0.089194  0.320004  0.203946  0.837081  0.470880

In [32]:
dframe2=dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.518008  1.122604 -1.698521 -0.030341  0.423052
B  0.295989 -1.471437 -0.869694 -0.095685  0.872135
C       NaN       NaN       NaN       NaN       NaN
D -1.555891 -0.239837 -0.947626  0.909339  0.517088
E -0.579964  1.023200 -2.111389  2.104038  0.220860
F -0.089194  0.320004  0.203946  0.837081  0.470880

In [33]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.518008  1.122604 -1.698521 -0.030341  0.423052   NaN
B  0.295989 -1.471437 -0.869694 -0.095685  0.872135   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.555891 -0.239837 -0.947626  0.909339  0.517088   NaN
E -0.579964  1.023200 -2.111389  2.104038  0.220860   NaN
F -0.089194  0.320004  0.203946  0.837081  0.470880   NaN

In [36]:
#using ix
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  1.518008  1.122604 -1.698521 -0.030341  0.423052   NaN
B  0.295989 -1.471437 -0.869694 -0.095685  0.872135   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.555891 -0.239837 -0.947626  0.909339  0.517088   NaN
E -0.579964  1.023200 -2.111389  2.104038  0.220860   NaN
F -0.089194  0.320004  0.203946  0.837081  0.470880   NaN